body{
    width: 100%;
     background-color: rgb(255, 234, 196); 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#head{
    text-align: center;
    background-color: orangered;
    color: white;
    height: 70px;
    padding-top: 15px;
}

.img-fluid{
   
    width: 550px;
    height: 400px;
}
.btn {
  
    background-color: orangered;
    color: black;
} 

#ss{
    background-color: rgb(255, 234, 196); 
    height: 30px;
}
#lg{
    width: 220px;
    color: black;
    border: 2px;
    border-color: orangered;
    border-style: solid;
    background-color: rgb(255, 234, 196); 
    
}
#lg:hover{
background-color:orangered;
}
#reg{
    border-color: orangered;
}
#dob{
    border-color: orangered;
}
#conf{
    border-color: orangered;
}
